
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
two-wolves-portal/.next/
two-wolves-portal/out/
two-wolves-portal/node_modules

# production
/build

# misc
.DS_Store
*.local
.env.local
.env
.env.*.local

# vercel
.vercel
